body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}
#header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#logo {
    max-height: 60px;
}
h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input, select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase; /* Añadido para convertir texto a mayúsculas */
}
button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: #0056b3;
}
